<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleSheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a href="/" class="text-blue-500 hover:underline  inline-block mb-4">Back to Home</a>
        <form action="/edit" method="POST" >
            <input type="text" placeholder="previous name" class="block w-1/4 px-5 py-2 bg-zinc-700 mb-2 text-white rounded-md " value="<%= fileName %>" name="fileName" disabled>
            <input type="text" placeholder="New name" class="block w-1/4 px-5 py-2 bg-zinc-700 mb-2 text-white rounded-md " name="newFileName">
            <input type="submit" value="Rename File" class="bg-yellow-500 active:bg-yellow-600 text-white font-bold py-2 px-4 rounded-md">
        </form>
    </div>
</body>
</html>