<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleSheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">

        <h3 class="text-pink-500 text-center text-3xl p-10" id="prjname">MiniFS</h3>

        <div class="form px-10">
            <form action="/create" method='POST'>
                <input type="text" name="title" placeholder="Title is here" class="block w-full px-5  py-2 bg-zinc-700 mb-2 text-white rounded-md">
                <textarea name="details" placeholder="write your task details"class="block w-full px-5 py-2 bg-zinc-700 mb-2 resize-none text-white rounded-md"></textarea>
                <input type="submit" value="Create task" class="bg-blue-500 active:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
            </form>
        </div>

        <div class="tasks p-10 flex flex-wrap gap-5">
            <% if(files.length > 0) { %>
                <% files.forEach(file => { %>
                    <div class="task w-54 px-3 py-4 rounded-md bg-zinc-700">
                        <h1 class="text-white text-xl tracking-tighter"><%= file %></h1>
                        <div class="flex justify-between items-center mt-3">
                            <a href="/files/<%= file %>" class="text-blue-500 inline-block  hover:underline">read more.</a>
                            <a href="/edit/<%= file  %>" class="text-yellow-500  hover:underline">edit fileName</a>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <h3 class="text-zinc-500">No Tasks Available</h3>
            <% } %>
        </div>
    </div>
</body>
</html>